body {
	font-family: 'Source Sans Pro', sans-serif;
	background:#efefef;
	margin: 0;
	height: 100vh;
	width: 100vw;
	text-align: center;
	transition: margin-left .5s;
	overflow-x: hidden;
	position: relative;
}

*:focus {
	 outline: none;
}

a:-webkit-any-link {
	text-decoration: none;
	color: black;
}

.flex-container {
	display:flex;
	justify-content: space-between;
	align-items: center;
}

.header {
	font-size: 10rem;
	margin: 0;
	font-weight:normal;
}

.subheader {
	font-size: 1rem;
	margin: 0;
	font-weight:bold;
}

.pipe {
	font-weight: normal;
	font-size: 1.1rem;
}

.sidenav {
	/* flex*/
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;

    /* style */
    height: 100vh; 
    width: 0; /* initial width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top of canvas*/
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
    text-decoration: none;
    font-size: 1.5rem;
    color: rgba(239, 239, 239, 0.7);
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: rgb(239, 239, 239);
}

.socials {
	padding: 15px;
	font-size:2.5rem;
	display:flex;
	flex-flow: column wrap;
}

.links {
	padding: 15px;
	font-size:2.5rem;
	display: inline-flex;
	flex-flow: column wrap;
	justify-content: space-between;
	height: 80vh;
}

.socials {
	display: inline-flex;
	flex-flow: row nowrap;
	width: 100%;
	justify-content: space-between;
	align-items: space-around;
}


#udemy {
	width: 3rem;
}

#rethink {
	width: 3.5rem;
}

#wit {
	font-size: 3rem;
	color: #426DA9;
}

#fcc {
	font-size: 3rem;
	color: #006400
}

#headspace {
	color: #f58b44;
	font-size: 3rem;
}

#github {
	color: #24292e;
}

.gh:hover {
	color: #24292e;
}

#linkedin {
	color: #0077B5;
}

.li:hover {
	color: #0077B5;
}

#instagram {
	background: -webkit-radial-gradient(33% 100% circle, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
	background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.ig:hover {
	background: -webkit-radial-gradient(33% 100% circle, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
	background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}